* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: white;
  margin: auto;
  padding: 20px;
  max-width: 1200px;
  position: relative;
}

/*Media queries*/
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 961px) {
}
